@import 'fonts/stylesheet.css';

body {
    margin: 0;
    background-color: #fdf0d5;
}
p {
    font-family: 'NCS Radhiumz', 'Chai', Georgia, "Times New Roman", Times, serif;
}
h1 {
    font-family: 'Sentrix Space', 'NCS Radhiumz', Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'NCS Radhiumz', 'National Park R', Arial, Helvetica, sans-serif;
    color: #28afb0;
}

/* Header, Main, Etc. */

header {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    justify-content: space-evenly;
    background-color: #eb5e55;
    position: sticky;
    max-width: 100%;
    overflow: auto;
    margin: auto;
    top: 0;
    padding: 0.2rem 0;
}

main {
    background-color: #fdf0d5;
}

/* Individual Elements */

.socials-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-items: space-evenly;
    padding: auto 0;
    margin: auto 0;
    max-width: 15%;
}

.outer-nav-container {
    display: flex;
    flex-flow: column;
    max-width: 40%;
}

.nav-container {
    display: flex;
    flex-flow: row;
}

.socials {
    max-width: 2rem;
    padding: 0 1rem;
}

.bigbold {
    letter-spacing: 0.2rem;
    margin: 2rem 0 0 0;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-align: center;
    max-width: 45%;
}

.bigbold-sub {
    margin-left: 10px;
}

.buttontext {
    color: #68e1e2;
    margin: 2px;
}

.headshot {
    max-height: 100rem;
    max-width: 100%;
}

.buttontext {
    margin: 0 10px;
}