.homebutton {
    background-color:#3A3335;
    font-size: 1.3rem;
    line-height: 3rem;
    display: inline;
    transition-duration: 0.5s;
    width: 33%;
    margin: 1.3rem 0;
    padding: 0;
    float: left;
    text-align: center;
}
.homebutton:hover {
    background: #28afb0; 
}
.homebutton:active {
    background: #007f81; 
}
.workbutton {
    background-color:#3A3335;
    font-size: 1.3rem;
    line-height: 3rem;
    display: inline;
    transition-duration: 0.5s;
    width: 33%;
    margin: 1.3rem 0;
    padding: 0;
    float: left;
    text-decoration: none;
}
.workbutton:hover {
    background: #28afb0; 
    text-decoration: none;
}
.workbutton:active {
    background: #007f81; 
    text-decoration: none;
}
.resumebutton {
    background-color:#3A3335;
    font-size: 1.3rem;
    line-height: 3rem;
    display: inline;
    transition-duration: 0.5s;
    width: 33%;
    margin: 1.3rem 0;
    padding: 0;
    float: left;
    text-decoration: none;
}
.resumebutton:hover {
    background: #28afb0;
    text-decoration: none; 
}
.resumebutton:active {
    background: #007f81;
    text-decoration: none;
}

