@font-face {
    font-family: 'Chai';
    src: url('../fonts/Chai-Light.woff2') format('woff2'),
        url('../fonts/Chai-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chai';
    src: url('Chai-Light.woff2') format('woff2'),
        url('Chai-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chai';
    src: url('Chai-Bold.woff2') format('woff2'),
        url('Chai-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chai';
    src: url('Chai-Medium.woff2') format('woff2'),
        url('Chai-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chai';
    src: url('Chai-SemiBold.woff2') format('woff2'),
        url('Chai-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chai';
    src: url('Chai-Regular.woff2') format('woff2'),
        url('Chai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
